name: DevSecOps Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout
        uses: actions/checkout@v3

      # 2️⃣ Authenticate to AWS using OIDC (NO static credentials)
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::262023811106:role/github-oidc-role
          aws-region: us-east-1

      # 3️⃣ Login to Amazon ECR
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin \
          262023811106.dkr.ecr.us-east-1.amazonaws.com

      # 4️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t devsecops-app ./app

      # 5️⃣ Tag Docker image
      - name: Tag Docker image
        run: |
          docker tag devsecops-app:latest \
          262023811106.dkr.ecr.us-east-1.amazonaws.com/devsecops-app:latest

      # 6️⃣ Push image to ECR
      - name: Push image to ECR
        run: |
          docker push \
          262023811106.dkr.ecr.us-east-1.amazonaws.com/devsecops-app:latest

      # 7️⃣ Force new ECS deployment (NO Terraform here)
      - name: Deploy to ECS
        run: |
          aws ecs update-service \
            --cluster devsecops-cluster \
            --service devsecops-service \
            --force-new-deployment
